html,body{
    height: 95%;
    background-color: #f7f3f3;
}
.edit-settings-btn, .btn, nav{
    background-color: #2daae1;
}
.bold {
  font-weight: bold;
}
.mb10{
  margin-bottom: 10px;
}
.edit-settings-btn{
  width: 200px;
  text-transform: capitalize !important

}
.status {
  width: 10px;
  height: 10px;
}
.valign-wrapper * {
  margin: 0 !important;
}
.profile{
  top: calc(50% - 28px);
  position: absolute;
  right: 5%;
  color: rgba(87, 86, 86, 0.39);
}
.shadow-data{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.shadow-data.show{
    display: block;
}
.container-data{
  position: absolute;
  top: 0;
  color: black;
  text-align: center;
  background-color: white;
  width: 100%;
  left: 0%;
  height: 100%;
  animation-duration: .3s;
  animation-delay: .3s;
  background-color: #f7f3f3;
  overflow: auto;
}
input{
  margin-bottom: 10px !important;
}
p{
  margin-top: 0 !important;
}
.input-field{
  margin-top: 2rem;
}
.btn-flat{
  padding: 0 1rem !important;
}
/*.btn, .btn-large, .btn-flat{}*/
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #575656;
        box-shadow: 0 1px 0 0 #575656;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color: #2daae1;
}
/*input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search]{
    border: solid 1.7px #9e9e9e;
    border-radius: 5px;
    height: auto;
    padding: 5px;
    color: #02306f;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border: solid 1.7px #9e9e9e;
    box-shadow: none;
}*/
